<ng-container [formGroup]="sectionTwoForm">


    <div class="accordion-item">


        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed tooltipSHowHide" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"
                [disabled]="err['cardHolderName'].invalid || err['cardNo'].invalid || err['accountNo'].invalid || err['typeOfAccount'].pristine"
                style="font-weight: bold;">

                <button class="alert alert-danger tooltiptext tooltipSHowHide"
                    *ngIf="err['typeOfAccount'].pristine || err['cardHolderName'].touched && (err['cardHolderName'].invalid || err['cardNo'].invalid || err['accountNo'].invalid || err['typeOfAccount'].pristine)"
                    data-bs-toggle="tooltip" data-bs-placement="top" [disabled]="true">
                    Please fill the account details to proceed next
                </button>
                Transaction Details
            </button>
        </h2>

        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="d-flex  justify-content-evenly">

                    <div class="col-sm-5">
                        <div class="form-group col-md-12 mt-3 ">
                            <div class="mb-3 row">
                                <label for="merchantName" class="col-sm-4 col-form-label">Merchant
                                    Name</label>
                                <div class="col-sm-8">
                                    <input type="text" id="merchantName" placeholder="" class="form-control"
                                        formControlName="merchantName" name="merchantName" minlength="2" />

                                    <span
                                        *ngIf="err['merchantName'].invalid && (err['merchantName'].dirty || err['merchantName'].touched)"
                                        class="text-danger" style="font-size: 10px;">

                                        <div *ngIf="err['merchantName'].errors?.['required']">
                                            Merchant Name is required.
                                        </div>
                                        <div *ngIf="err['merchantName'].errors?.['minlength']">
                                            Must be at least 2 characters.
                                        </div>
                                        <div *ngIf="err['merchantName'].errors?.['pattern']">
                                            Only characters allowed.
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>


                        <div class="form-group col-md-12 mt-3 ">
                            <div class="mb-3 row">

                                <label for="transactionAmount" class="col-sm-4 col-form-label">Transaction
                                    Amount</label>
                                <div class="col-sm-8">
                                    <input type="text" id="transactionAmount" placeholder="" class="form-control"
                                        formControlName="transactionAmount" name="transactionAmount" minlength=""
                                        required />

                                    <span
                                        *ngIf="(sectionTwoForm.errors?.['amountDifferenceError'] && err['transactionAmount'].touched ) || err['transactionAmount'].invalid && (err['transactionAmount'].dirty ||  err['transactionAmount'].touched )"
                                        class="text-danger" style="font-size: 10px;">

                                        <div *ngIf="err['transactionAmount'].errors?.['required']">
                                            Transaction Amount is required.
                                        </div>
                                        <div *ngIf="err['transactionAmount'].errors?.['pattern']">
                                            Only numbers allowed.
                                        </div>
                                        <div *ngIf="sectionTwoForm.errors?.['amountDifferenceError'] ">
                                            Fraud transaction amount should be less than Bank balance prior fraud
                                        </div>

                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-12 mt-3 ">
                            <div class="mb-3 row">
                                <label for="transactionDate" class="col-sm-4 col-form-label">Transaction
                                    Date</label>
                                <div class="col-sm-8">
                                    <input type="date" class="form-control" id="transactionDate"
                                        formControlName="transactionDate" name="transactionDate" max={{maxDate}}>
                                </div>
                            </div>
                        </div>


                        <div class="form-group col-md-12 mt-3 ">
                            <div class="mb-3 row">
                                <label for="transactionType" class="col-sm-4 col-form-label">Transaction
                                    Type</label>

                                <div class="col-sm-8">
                                    <select class="btn col-md-12 form-select"
                                        style="border: 1px solid rgb(218, 209, 209);" name="transactionType"
                                        id="transactionType" formControlName="transactionType">
                                        <option Value="null" [disabled]="true">Select</option>
                                        <option value="withdrawal">Withdrawal</option>
                                        <option value="onlinePayment">Online Payment</option>
                                        <option value="upi">UPI</option>
                                        <option value="netBanking">Net Banking</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="col-sm-5">
                        <div class="form-group col-md-12 mt-3 ">

                            <div class="mb-3 row">

                                <label for="bankBal" class="col-sm-6 col-form-label">Bank balance
                                    before fraud</label>
                                <div class="col-sm-6">
                                    <input type="text" id="bankBal" placeholder="" class="form-control"
                                        formControlName="bankBal" name="bankBal" minlength="" required />

                                    <span
                                        *ngIf="err['bankBal'].invalid && (err['bankBal'].dirty || err['bankBal'].touched)"
                                        class="text-danger" style="font-size: 10px;">

                                        <div *ngIf="err['bankBal'].errors?.['required']">
                                            Bank Balance prior to Fraud is required.
                                        </div>
                                    
                                        <div *ngIf="err['bankBal'].errors?.['pattern']">
                                            Only numbers allowed.
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>


</ng-container>