span.tooltiptext.tooltipSHowHide {
    display: none;

}

.accordion-button:hover>span.tooltiptext.tooltipSHowHide {
    display: block;
    position: absolute;
    bottom: 70%;
    right: 0%;
    width: 100%;
    text-align: center;
    padding: 0;

}