<div class="container register-card py-4">
    <div class="row justify-content-center">
        <div class="card my-auto col-md-12 shadow">
            <div class="card-body px-4">

                <form [formGroup]="caseDetails" (ngSubmit)="onSubmit()">

                    <div class="accordion" id="accordionExample" style="height: 355px; overflow: auto;">

                        <!-- ------------------------SECTION ONE----------------------------------- -->

                        <app-section-one></app-section-one>

                        <!-- ------------------------SECTION TWO----------------------------------- -->

                        <app-section-two></app-section-two>

                        <!-- ------------------------SECTION THREE--------------------------------- -->

                        <app-section-three></app-section-three>

                    </div>


                    <button type="button" class="btn btn-primary w-100 mt-3" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop" [disabled]="!caseDetails.invalid">
                        submit
                    </button>


                    <!-- Confirmation Modal -->

                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel"> </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h5>Are you sure you want to submit the case ?</h5>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#staticBackdropSuccess">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- -----------------------------------SUCCESS MODAL--------------------------------------------- -->

<div class="modal mt-5 fade" id="staticBackdropSuccess" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"> </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <i class="fas fa-check-circle" style="font-size: 200px; color: #198754;"></i>

                </div>
                <h5 class="text-center">Your case has been submitted successfully.</h5>
                <h5 class="text-center">Please check the status under dashboard.</h5>
                <h5 class="text-center">Thank You</h5>

            </div>
        </div>
    </div>
</div>



<!-- <router-outlet></router-outlet> -->