.register-card{
    min-height: 78vh;
}

input.ng-invalid.ng-touched {
    border: rgba(246, 9, 9, 0.500) 1px solid;
}

input.ng-invalid.ng-touched:focus {
    /* border: rgba(255, 0, 0, 0.941) 10px solid !important; */

    border-color: rgba(246, 9, 9, 0.500);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(246, 9, 9, 0.250);
}



.alert.tooltiptext.tooltipSHowHide {
    display: none;

}

.accordion-button:hover>.alert.tooltiptext.tooltipSHowHide {
    display: block;
    position: absolute;
    bottom: 70%;
    right: 0%;
    width: 100%;
    text-align: center;
    padding: 0;

}




