<div class="container my-4 ">
    <div class="row justify-content-center ">
        <div class="card my-auto col-md-6 shadow">
            <div class="card-body px-5">
                <div class="text-center">
                    <!-- <fa-icon [icon]="faLock" class="fa-3x"></fa-icon> -->
                   <p>
                    <!-- <i  class="fa-solid fa-lock"></i> -->
                    <i style="font-size:100px" class="fas fa-solid fa-lock"></i>
                   </p>
                </div>
                <div class="text-center">
                    <h2>Welcome</h2>
                </div>
                <p style="color: lightslategray; text-align: center;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please enter your login
                    details&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                <!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"> -->
                <form [formGroup]="customerLoginForm" (ngSubmit)="postLogin()">

                    <!-- <form> -->
                        <div style="text-align: -webkit-center;text-align-last: center; ">
                            <div class="form-group col-md-8 ">
                                <input type="email" id="email" placeholder="Email" class="form-control" formControlName="email"
                                    name="email" />
                            </div>
                            <div class="form-group col-md-8 mt-3 ">
                                <input type="password" id="password" placeholder="Password" class="form-control"
                                    formControlName="password" name="password" />
                            </div>

                        </div>
                  
                    <input type="submit" class="btn btn-primary w-100 mt-3" value="Login" name="">
                </form>
            </div>
            <div class="card-footer ">
                <div class=" d-flex  justify-content-between ">
                    <p><a routerLink="../forgot-password">Forgot Password</a></p>
                    <p class=" text-end">New to website? <a routerLink="../customer-signup">SignUp</a></p>

                </div>
                <div >
                </div>
            </div>
         
        </div>
    </div>
</div>