<!-- <router-outlet></router-outlet> -->

<div style="height: 430px;">
    <div class="bg-main d-flex align-items-center justify-content-evenly">

        <div>
            <!-- <button type="button" class="btn btn-primary btn-lg">Primary</button> -->
        </div>

        <div>
            <a routerLink="../register-case">

            <button type="button" class="btn l-btn btn-outline-success btn-lg p-5">
            Case Registration                
            </button>
        </a>
        </div>

        <!-- <div>
            <a routerLink="">
            <button type="button"  class="btn l-btn btn-outline-secondary btn-lg p-5">Case Review</button>
        </a>
        </div> -->
       

        <div>
            <!-- <button type="button" class="btn btn-primary btn-lg">Primary</button> -->
        </div>
    </div>

</div>


