<ng-container [formGroup]="sectionThreeForm">

    <div class="accordion-item">




        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed tooltipSHowHide" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"
                [disabled]="err['merchantName'].invalid || err['transactionAmount'].invalid || err['bankBal'].invalid || sectionThreeForm.errors?.['amountDifferenceError']"
                style="font-weight: bold;">

               

                <button class="alert alert-danger tooltiptext tooltipSHowHide"
                    *ngIf="err['transactionType'].dirty && err['merchantName'].touched && (err['merchantName'].invalid || err['transactionAmount'].invalid || err['bankBal'].invalid || err['transactionType'].pristine)"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="" [disabled]="true">
                    Please fill the transaction details to proceed next
                </button>

                <button class="alert alert-danger tooltiptext tooltipSHowHide"
                    *ngIf="err['transactionAmount'].touched && sectionThreeForm.errors?.['amountDifferenceError']"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="" [disabled]="true">
                    Please fill the transaction amount less than bank balance prior fraud
                </button> 
                Addtional Information
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div>

                    <!-- <div class="text-center mt-4">
                        <h2>More Details**</h2>
                    </div>  -->

                    <div class="form-group col-md-12 mt-3 ">
                        <div class="mb-3 row">
                            <label for="card_cancelled" class="col-sm-10 col-form-label">
                                <h5>1. Have you cancelled your card?</h5>
                            </label>

                            <div class="col-sm-2">
                                <select class="btn col-md-12 form-select" style="border: 1px solid rgb(218, 209, 209);"
                                    name="card_cancelled" id="card_cancelled" formControlName="card_cancelled">
                                    <option Value="null" [disabled]="true">Select
                                    </option>
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-12 mt-3 ">
                        <div class="mb-3 row">
                            <label for="possession_when_fraudOccured" class="col-sm-10 col-form-label">
                                <h5>2. Was your card in your possession when the transaction
                                    occurred?**</h5>
                            </label>

                            <div class="col-sm-2">
                                <select class="btn col-md-12 form-select" style="border: 1px solid rgb(218, 209, 209);"
                                    name="possession_when_fraudOccured" id="possession_when_fraudOccured"
                                    formControlName="possession_when_fraudOccured">
                                    <option Value="null" [disabled]="true">Select
                                    </option>
                                    <option value="yes">Yes</option>
                                    <option value="-no">No</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-12 mt-3 ">
                        <div class="mb-3 row">
                            <label for="pin_shared" class="col-sm-10 col-form-label">
                                <h5>3. Was your pin ever written down or shared to someone
                                    else?**</h5>
                            </label>

                            <div class="col-sm-2">
                                <select class="btn col-md-12 form-select" style="border: 1px solid rgb(218, 209, 209);"
                                    name="pin_shared" id="pin_shared" formControlName="pin_shared">
                                    <option Value="null" [disabled]="true">Select
                                    </option>
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-12 mt-3 ">
                        <div class="mb-3">
                            <label for="desc_fraudOccured" class="col-sm-10 col-form-label">
                                <h5>4. Was your card lost or stolen and where if know (how was
                                    card last or stolen
                                    and
                                    provide date and time and location)?**</h5>
                            </label>

                            <div class="col-sm-4">
                                <textarea name="desc_fraudOccured" id="desc_fraudOccured" cols="100" rows="3"
                                    formControlName="desc_fraudOccured" maxlength="2000"></textarea>

                                <span
                                    *ngIf="err['desc_fraudOccured'].invalid && (err['desc_fraudOccured'].dirty || err['desc_fraudOccured'].touched)"
                                    class="text-danger" style="font-size: 10px;">

                                    <div *ngIf="err['desc_fraudOccured'].errors?.['required']">
                                        Description is required.
                                    </div>
                                    <div *ngIf="err['desc_fraudOccured'].errors?.['minlength']">
                                        Description is required with Minimum 20 characters
                                    </div>
                                </span>

                            </div>
                        </div>
                    </div>



                    <div class="form-group col-md-12 mt-3 ">
                        <div class="mb-3 ">
                            <label for="desc_transactionOccured" class="col-sm-10 col-form-label">
                                <h5>5. Where were you when the transaction occurred (ie: clients
                                    location)?**</h5>
                            </label>

                            <div class="col-sm-4">
                                <textarea name="desc_transactionOccured" id="desc_transactionOccured" cols="100"
                                    rows="3" formControlName="desc_transactionOccured"  maxlength="2000"></textarea>

                                <span
                                    *ngIf="err['desc_transactionOccured'].invalid && (err['desc_transactionOccured'].dirty || err['desc_transactionOccured'].touched)"
                                    class="text-danger" style="font-size: 10px;">

                                    <div *ngIf="err['desc_transactionOccured'].errors?.['required']">
                                        Description is required.
                                    </div>
                                    <div *ngIf="err['desc_transactionOccured'].errors?.['minlength']">
                                        Description is required with Minimum 20 characters
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>


                    <div class="form-group col-md-12 mt-3 ">
                        <div class="mb-3 ">
                            <label for="desc_additionalInfo" class="col-sm-10 col-form-label">
                                <h5>6. Please provide any additional information?</h5>
                            </label>
                            <div class="col-sm-4">
                                <textarea name="desc_additionalInfo" id="desc_additionalInfo" cols="100" rows="3"
                                    formControlName="desc_additionalInfo"  maxlength="2000"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</ng-container>