<nav class="navbar navbar-expand-lg bg-dark bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <div class="d-flex align-items-start justify-content-center" style="width: 100%;">
            <div class="left">
                <a class="navbar-brand" routerLink="/home-page"><b>KRYPTON BANK</b></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <!-- <div class="collapse navbar-collapse center" id="navbarSupportedContent">

                <ul class="navbar-nav mb-2 mb-lg-0 d-flex justify-content-evenly" style="width: 100%;">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Accounts
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Digital Account</a></li>
                            <li><a class="dropdown-item" href="#">Current Account</a></li>
                            <li><a class="dropdown-item" href="#">Savings Account</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Cards
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Credit Card</a></li>
                            <li><a class="dropdown-item" href="#">Debit Card</a></li>
                            <li><a class="dropdown-item" href="#">Fastag Card</a></li>
                            <li><a class="dropdown-item" href="#">Commercial Cards</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Loans</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Insure</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Invest</a>
                    </li>
                </ul>
            </div>

            <div class="right">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div> -->
        </div>
    </div>
</nav>