<div class="container my-4">
    <div class="row justify-content-center">
        <div class="card my-auto col-md-6 shadow">
            <div class="card-body px-5">
                <div class="text-center">
                    <!-- <fa-icon [icon]="faLock" class="fa-3x"></fa-icon> -->
                    <p>
                        <!-- <i  class="fa-solid fa-lock"></i> -->
                        <i style="font-size:50px" class="fas fa-regular fa-user"></i>
                    </p>
                </div>
                <!-- <div class="text-center">
                    <h2>Welcome</h2>
                </div> -->
                <!-- <p style="color: lightslategray; text-align: center;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please enter your SignUp
                    details&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p> -->
                <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">

                    <div class=" justify-content-center col-md-12">

                        <div class="d-flex col-md-12">
                            <div class="form-group col-md-6 pe-2">
                                <input type="text" id="firstName" placeholder="First Name" class="form-control"
                                    formControlName="firstName" name="firstName" maxlength="25" />

                                <span
                                    *ngIf="signUpError['firstName'].invalid && (signUpError['firstName'].dirty || signUpError['firstName'].touched)"
                                    class="text-danger" style="font-size: 10px;">
                                    <div class="d-flex">
                                        <div class="mt-2">
                                            <i style="font-size: 15px; color: red;"
                                                class="fas fa-exclamation-triangle"></i>
                                        </div>

                                        <div class="ms-2 mt-1">
                                            <div *ngIf="signUpError['firstName'].errors?.['required']">
                                                First name is required.
                                            </div>
                                            <div *ngIf="signUpError['firstName'].errors?.['minlength']">
                                                First name must be at least 2 characters.
                                            </div>
                                            <div *ngIf="signUpError['firstName'].errors?.['pattern']">

                                                Only characters allowed.
                                            </div>
                                        </div>
                                    </div>



                                </span>
                            </div>

                            <div class="form-group col-md-6 ps-2">
                                <input type="text" id="lastName" placeholder="Last Name" class="form-control"
                                    formControlName="lastName" name="lastName" maxlength="25" />

                                <span
                                    *ngIf="signUpError['lastName'].invalid && (signUpError['lastName'].dirty || signUpError['lastName'].touched)"
                                    class="text-danger" style="font-size: 10px;">

                                    <div class="d-flex">
                                        <div class="mt-2">
                                            <i style="font-size: 15px; color: red;"
                                                class="fas fa-exclamation-triangle"></i>
                                        </div>

                                        <div class="ms-2 mt-1">

                                            <div *ngIf="signUpError['lastName'].errors?.['required']">
                                                Last name is required.
                                            </div>
                                            <div *ngIf="signUpError['lastName'].errors?.['minlength']">
                                                Last name must be at least 2 characters.
                                            </div>
                                            <div *ngIf="signUpError['lastName'].errors?.['pattern']">
                                                Only characters allowed.
                                            </div>
                                        </div>
                                    </div>
                                </span>

                            </div>
                        </div>


                        <div class="d-flex col-md-12">
                            <div class="form-group col-md-6 mt-3 pe-2">
                                <input type="email" id="email" placeholder="Email" class="form-control"
                                    formControlName="email" name="email" />

                                <span
                                    *ngIf="signUpError['email'].invalid && (signUpError['email'].dirty || signUpError['email'].touched)"
                                    class="text-danger" style="font-size: 10px;">

                                    <div class="d-flex">
                                        <div class="mt-2">
                                            <i style="font-size: 15px; color: red;"
                                                class="fas fa-exclamation-triangle"></i>
                                        </div>

                                        <div class="ms-2 mt-1">
                                            <div *ngIf="signUpError['email'].errors?.['email']">
                                                Please enter valid email address.
                                            </div>
                                            <div *ngIf="signUpError['email'].errors?.['required']">
                                                Email is required.
                                            </div>

                                        </div>
                                    </div>
                                </span>


                            </div>
                            <div class="form-group col-md-6 mt-3 ps-2">
                                <input type="text" id="phoneNumber" placeholder="Phone Number" class="form-control"
                                    formControlName="phoneNumber" name="phoneNumber" maxlength="10" />

                                <span
                                    *ngIf="signUpError['phoneNumber'].invalid && (signUpError['phoneNumber'].dirty || signUpError['phoneNumber'].touched)"
                                    class="text-danger" style="font-size: 10px;">

                                    <div class="d-flex">
                                        <div class="mt-2">
                                            <i style="font-size: 15px; color: red;"
                                                class="fas fa-exclamation-triangle"></i>
                                        </div>

                                        <div class="ms-2 mt-1">
                                            <div *ngIf="signUpError['phoneNumber'].errors?.['pattern']">
                                                Only numbers allowed.
                                            </div>
                                            <div *ngIf="signUpError['phoneNumber'].errors?.['minlength']">
                                                Phone number must be 10 numbers.
                                            </div>
                                            <div *ngIf="signUpError['phoneNumber'].errors?.['required']">
                                                Phone number is required.
                                            </div>


                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>

                        <div class="d-flex col-md-12">
                            <div class="form-group col-md-6 mt-3 pe-2">
                                <select class="btn col-md-12 form-select" style="border: 1px solid rgb(218, 209, 209);"
                                    name="gender" id="gender" formControlName="gender">
                                    <option Value="" [disabled]="true"></option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>

                                </select>

                                <!-- <span
                                    *ngIf="signUpError['gender'].untouched "
                                    class="text-danger" style="font-size: 10px;">

                                    <div class="d-flex">
                                        <div class="mt-2">
                                            <i style="font-size: 15px; color: red;"
                                                class="fas fa-exclamation-triangle"></i>
                                        </div>

                                        <div class="ms-2 mt-1">

                                            <div *ngIf="signUpError['gender'].errors?.['required']">
                                                Please select your gender.
                                            </div>
                                           
                                        </div>
                                    </div>
                                </span> -->


                            </div>
                            <div class="form-group col-md-6 mt-3 ps-2">
                                <input type="text" id="panCard" placeholder="Pan Card" class="form-control"
                                    formControlName="panCard" name="panCard" maxlength="10" />

                                <span
                                    *ngIf="signUpError['panCard'].invalid && (signUpError['panCard'].dirty || signUpError['panCard'].touched)"
                                    class="text-danger" style="font-size: 10px;">

                                    <div class="d-flex">
                                        <div class="mt-2">
                                            <i style="font-size: 15px; color: red;"
                                                class="fas fa-exclamation-triangle"></i>
                                        </div>

                                        <div class="ms-2 mt-1">

                                            <div *ngIf="signUpError['panCard'].errors?.['required']">
                                                Pan number is required.
                                            </div>
                                            <div *ngIf="signUpError['panCard'].errors?.['minlength']">
                                                Pan number must be 10 numbers.
                                            </div>
                                            <div *ngIf="signUpError['panCard'].errors?.['pattern']">
                                                Pan number should contain characters and numbers.
                                            </div>
                                        </div>
                                    </div>
                                </span>


                            </div>
                        </div>

                        <div class="form-group col-md-12 mt-3 ">
                            <input type="text" id="address" placeholder="Address" class="form-control"
                                formControlName="address" name="address" />

                            <span
                                *ngIf="signUpError['address'].invalid && (signUpError['address'].dirty || signUpError['address'].touched)"
                                class="text-danger" style="font-size: 10px;">

                                <div class="d-flex">
                                    <div class="mt-2">
                                        <i style="font-size: 15px; color: red;" class="fas fa-exclamation-triangle"></i>
                                    </div>

                                    <div class="ms-2 mt-1">

                                        <div *ngIf="signUpError['address'].errors?.['required']">
                                            Address is required.
                                        </div>
                                        <div *ngIf="signUpError['address'].errors?.['minlength']">
                                            Pan number must be 25 characters.
                                        </div>
                                    </div>
                                </div>
                            </span>


                        </div>


                        <div class="d-flex col-md-12">
                            <div class="form-group col-md-6 mt-3 pe-2">
                                <input type="password" id="password" placeholder="Password" class="form-control"
                                    formControlName="password" name="password" />

                                <span
                                    *ngIf="signUpError['password'].invalid && (signUpError['password'].dirty || signUpError['password'].touched)"
                                    class="text-danger" style="font-size: 10px;">

                                    <div class="d-flex">
                                        <div class="mt-2">
                                            <i style="font-size: 15px; color: red;"
                                                class="fas fa-exclamation-triangle"></i>
                                        </div>

                                        <div class="ms-2 mt-1">

                                            <div *ngIf="signUpError['password'].errors?.['required']">
                                                Password is required.
                                            </div>
                                            <div *ngIf="signUpError['password'].errors?.['minlength']">
                                                Pan number must be 25 characters.
                                            </div>
                                            <div *ngIf="signUpError['password'].errors?.['pattern']">
                                                Password must contain at least one uppercase letter, one lowercase
                                                letter, one number and one special character.
                                            </div>
                                        </div>
                                    </div>
                                </span>

                            </div>
                            <div class="form-group col-md-6 mt-3 ps-2">
                                <input type="password" id="confirmPassword" placeholder="Confirm password"
                                    class="form-control" formControlName="confirmPassword" name="confirmPassword" />
                                <span
                                    *ngIf="signUpError['password'].touched && signUpError['confirmPassword'].dirty && signUpForm.errors?.['passwordmatcherror']" style="font-size: 10px;">

                                    <div class="d-flex">
                                        <div class="mt-2">
                                            <i style="font-size: 15px; color: red;"
                                                class="fas fa-exclamation-triangle"></i>
                                        </div>

                                        <div class="ms-2 mt-1">


                                            <span>
                                                Password does not match
                                            </span>

                                        </div>

                                    </div>


                                </span>


                            </div>
                        </div>




                    </div>

                    <input type="submit" [disabled]="!signUpForm.valid" class="btn btn-primary w-100 mt-3"
                        value="SignUp" name="">
                </form>
            </div>
            <div class="card-footer ">
                <div class=" d-flex  justify-content-between ">
                    <!-- <p><a routerLink="../forgot-password">Forgot Password</a></p> -->
                    <small class=" text-end">Already Customer? <a style="cursor: pointer;color: blue;"
                            routerLink="../customer-login">Login</a></small>

                </div>

            </div>

        </div>
    </div>
</div>