input.ng-invalid.ng-touched {
    border: rgba(246, 9, 9, 0.500) 1px solid;
}

input.ng-invalid.ng-touched:focus {
    /* border: rgba(255, 0, 0, 0.941) 10px solid !important; */

    border-color: rgba(246, 9, 9, 0.500);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(246, 9, 9, 0.250);
}


input span{
    color: red;
}