<div>
    <app-header></app-header>

</div>
<div style="height: 86.5vh;">
    <app-landing-page></app-landing-page>

</div>
<div>
    <app-footer style="position: fixed; width: 100%;bottom: 0; "></app-footer>

</div>
