.bg-main{
    /* background: url("../../../assets/images/main.png"); */
    background-image: url("../../../assets/images/main.png");
    background-size: cover;
    height: 100%;
}

.l-btn{
    font-size: 30px;
    font-weight: bold;
}

.btn-outline-success{
    background-color: rgba(41, 71, 71, 0.900);
}

.btn-outline-secondary{
    background-color: rgba(0, 0, 0, 0.900);
}