
<div style="height: 100%;">
    <div class="bg-main d-flex align-items-center justify-content-evenly">

        <div>
            <!-- <button type="button" class="btn btn-primary btn-lg">Primary</button> -->
        </div>

        <!-- <div>
            <a routerLink="/employee-login">

            <button type="button" class="btn l-btn btn-outline-success btn-lg p-5">
            Employee Login
                
            </button>
        </a>
        </div> -->

        <div>
            <a routerLink="/customer-login">
            <button type="button" class="btn l-btn btn-outline-secondary btn-lg p-5">Customer Login</button>
        </a>
        </div>
       

        <div>
        </div>
    </div>

</div>


