<ng-container [formGroup]="sectionOneForm">

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne" style="font-weight: bold;">
                <!-- Accordion Item #1 -->
                Account Details
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">

                
                <div class="d-flex col-md-12 justify-content-between ">
                    <div class="col-sm-6 pe-3">

                        <div class="form-group col-md-12 mt-3 ">
                            <div class="mb-3 row">
                                <label for="CHName" class="col-sm-4 col-form-label">Card Holder
                                    Name</label>
                                <div class="col-sm-8">
                                    <input type="text" id="CHName" placeholder="" class="form-control"
                                        formControlName="cardHolderName" name="CHName" minlength="2" />
                                    <span
                                        *ngIf="err['cardHolderName'].invalid && (err['cardHolderName'].dirty || err['cardHolderName'].touched)"
                                        class="text-danger" style="font-size: 10px;">

                                        <div *ngIf="err['cardHolderName'].errors?.['required']">
                                            Name is required.
                                        </div>
                                        <div *ngIf="err['cardHolderName'].errors?.['minlength']">
                                            Name must be at least 2 characters long.
                                        </div>
                                        <div *ngIf="err['cardHolderName'].errors?.['pattern']">
                                            Only characters allowed.
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-12 mt-3 ">
                            <div class="mb-3 row">
                                <label for="cardNumber" class="col-sm-4 col-form-label">Card
                                    Number</label>
                                <div class="col-sm-8">
                                    <input type="text" inputmode="numeric" id="cardNumber" placeholder=""
                                        class="form-control" formControlName="cardNo" name="cardNumber"
                                        maxlength="16" />

                                    <span
                                        *ngIf="err['cardNo'].invalid && (err['cardNo'].dirty || err['cardNo'].touched)"
                                        class="text-danger" style="font-size: 10px;">

                                        <div *ngIf="err['cardNo'].errors?.['required']">
                                            Card Number is required.
                                        </div>
                                        <div *ngIf="err['cardNo'].errors?.['minlength']">
                                            Must be at 16 digits only.
                                        </div>
                                        <div *ngIf="err['cardNo'].errors?.['pattern']">
                                            Only numbers allowed.
                                        </div>
                                    </span>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 ps-3">

                        <div class="form-group col-md-12 mt-3 ">
                            <div class="mb-3 row">
                                <label for="accountNumber" class="col-sm-4 col-form-label">Account
                                    Number</label>
                                <div class="col-sm-8">
                                    <input type="text" id="accountNumber" placeholder="" class="form-control"
                                        formControlName="accountNo" name="accountNumber" minlength="9" maxlength="16" />
                                    <span
                                        *ngIf="err['accountNo'].invalid && (err['accountNo'].dirty || err['accountNo'].touched)"
                                        class="text-danger" style="font-size: 10px;">

                                        <div *ngIf="err['accountNo'].errors?.['required']">
                                            Account Number is required.
                                        </div>
                                        <div *ngIf="err['accountNo'].errors?.['minlength']">
                                            Must be at least 9 digits.
                                        </div>
                                        <div *ngIf="err['accountNo'].errors?.['pattern']">
                                            Only numbers allowed.
                                        </div>
                                    </span>

                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-12 mt-3 ">
                            <div class="mb-3 row">
                                <label for="typeOfAccount" class="col-sm-4 col-form-label">Type Of
                                    Account</label>

                                <div class="col-sm-8">
                                    <select class="btn col-md-12 form-select"
                                        style="border: 1px solid rgb(218, 209, 209);" name="typeOfAccount"
                                        id="typeOfAccount" formControlName="typeOfAccount">
                                        <option Value="null" [disabled]="true">Select Your
                                            Account</option>
                                        <option value="savingsAccount">Savings Account</option>
                                        <option value="currentAccount">Current Account</option>
                                        <option value="fdAccount">FD Account</option>
                                    </select>

                                    <span *ngIf="err['typeOfAccount'].invalid && (err['typeOfAccount'].dirty)"
                                        class="text-danger" style="font-size: 10px;">

                                        <div *ngIf="err['accountNo'].errors?.['required']">
                                            Account Number is required.
                                        </div>

                                    </span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>







    <!-- </div> -->

</ng-container>